@font-face {
  font-family: "UbuntuMono";
  src: url(UbuntuMono-R.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: url(OpenSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "CutieX";
  src: url(Cutie.woff) format("woff");
}

@font-face {
  font-family: "Roboto Medium";
  src: url(Roboto-Medium.woff) format("woff");
}
