@font-face {
  font-family: "UbuntuMono";
  src: url("UbuntuMono-R.woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.ttf");
}

@font-face {
  font-family: "QTXiaoTu";
  src: url("QTXiaoTu-Regular.ttf");
}

@font-face {
  font-family: "CutieX";
  src: url("Cutie.ttf");
}
