.window-drag {
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #ffe0f0;
  font-family: "Roboto", "Microsoft YaHei UI Light", Tahoma, Verdana, sans-serif;
  white-space: pre-line;
  line-height: 90%;
}

.app_fade_in {
  transition: opacity 400ms;
  opacity: 100;
}
.app_fade_out {
  transition: opacity 400ms;
  opacity: 0;
}
