.window-drag {
  -webkit-app-region: drag;
}

@font-face {
  font-family: "Source Hans Sans";
  src: url(SourceHanSansCN-Regular.otf);
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: url(UbuntuMono-Latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  background-color: #ffe0f0;
  white-space: pre-line;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  font-family: "Ubuntu Mono", Consolas, "Courier New", Courier,
    "Source Hans Sans", "Roboto Medium", "Microsoft YaHei", "Segoe UI", SimHei,
    Tahoma, Geneva, Verdana, sans-serif !important;
}
* {
  z-index: inherit;
}

.app_fade_in {
  transition: opacity 200ms;
  opacity: 100;
}
.app_fade_out {
  transition: opacity 200ms;
  opacity: 0;
}
.yggdrasil_droppable {
  min-height: 100vh; /* Easy to drop */
}
