.window-drag {
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  background-color: #ffe0f0;
  white-space: pre-line;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
}

.app_fade_in {
  transition: opacity 200ms;
  opacity: 100;
}
.app_fade_out {
  transition: opacity 200ms;
  opacity: 0;
}
.yggdrasil_droppable {
  height: 10000vh; /* Easy to drop */
}
