@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
    user-select: none;
}

.drag {
    app-region: drag;
}

.no-drag {
    app-region: no-drag;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.25rem;
    transition-duration: 100ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.zh, .zh-CN {
    font-family: "Ubuntu Mono", "Noto Sans SC", sans-serif;
}

.en {
    font-family: "Ubuntu Mono", sans-serif;
}