name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.2.5"
      - name: Install Dependencies
        run: bun install
      - name: Check Types
        run: bun type-check
      - name: Run Unit Tests
        run: bun test
      - name: Deactivate AppImage Restrictions
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: Run Instrumented Tests
        run: bun itest
