name: Distribution

on:
  release:
    types: [ published ]
  workflow_dispatch: { }

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 23
      - name: Install Dependencies
        run: |-
          npm install
      - name: Pack
        run: npx cross-env ALICORN_PACK_PLATFORMS=win32 npm run dist
      - name: List Contents
        run: dir dist
      - uses: actions/upload-artifact@v4
        with:
          name: win32-x64-msi
          path: "./dist/Alicorn.x64.msi"
      - uses: actions/upload-artifact@v4
        with:
          name: win32-arm64-msi
          path: "./dist/Alicorn.arm64.msi"

  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 23
      - name: Install Dependencies
        run: |-
          npm install
      - name: Pack
        run: npm run dist
      - name: List Contents
        run: ls -lh --color=auto ./dist
      - uses: actions/upload-artifact@v4
        with:
          name: win32-x64
          path: "./dist/Alicorn Launcher-win32-x64.zip"
      - uses: actions/upload-artifact@v4
        with:
          name: win32-arm64
          path: "./dist/Alicorn Launcher-win32-arm64.zip"
      - uses: actions/upload-artifact@v4
        with:
          name: darwin-x64
          path: "./dist/Alicorn Launcher-darwin-x64.dmg"
      - uses: actions/upload-artifact@v4
        with:
          name: darwin-arm64
          path: "./dist/Alicorn Launcher-darwin-arm64.dmg"
      - uses: actions/upload-artifact@v4
        with:
          name: linux-x64
          path: "./dist/Alicorn Launcher-linux-x64.tar.gz"
      - uses: actions/upload-artifact@v4
        with:
          name: linux-arm64
          path: "./dist/Alicorn Launcher-linux-arm64.tar.gz"
