# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  package-unix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 15
        uses: actions/setup-node@v2
        with:
          node-version: 15.x
      - run: yarn
      - run: yarn github-unix
      - run: sha1sum out/compressed/Alicorn-darwin-x64.zip
      - run: md5sum out/compressed/Alicorn-darwin-x64.zip
      - run: sha1sum out/compressed/Alicorn-linux-x64.tar.gz
      - run: md5sum out/compressed/Alicorn-linux-x64.tar.gz
      - uses: actions/upload-artifact@v2
        with:
          name: Alicorn for macOS x64 ZIP
          path: out/compressed/Alicorn-darwin-x64.zip
      - uses: actions/upload-artifact@v2
        with:
          name: Alicorn for Linux x64 TGZ
          path: out/compressed/Alicorn-linux-x64.tar.gz

  package-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 15
        uses: actions/setup-node@v2
        with:
          node-version: 15.x
      - run: yarn
      - run: yarn github-windows
      - run: sha1sum out/compressed/Alicorn-win32-x64.zip
      - run: md5sum out/compressed/Alicorn-win32-x64.zip
      - run: sha1sum out/compressed/Alicorn-win32-ia32.zip
      - run: md5sum out/compressed/Alicorn-win32-ia32.zip
      - uses: actions/upload-artifact@v2
        with:
          name: Alicorn for Windows x64 ZIP
          path: out/compressed/Alicorn-win32-x64.zip
      - uses: actions/upload-artifact@v2
        with:
          name: Alicorn for Windows ia32 ZIP
          path: out/compressed/Alicorn-win32-ia32.zip
